@tailwind base;
@tailwind components;
@tailwind utilities;

/* swiper pagination style */
.swiper-pagination-bullet {
    background-color: transparent !important;
    height: 12px;
    width: 12px;
    opacity: 1 !important;
    border: 1px solid #53DFDC;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #53DFDC !important;
    border: 1px solid #53DFDC;
    transform: scale(1.4);
  }


  @keyframes gradient-change {
    0% { background-position: 0% 50%; } /* Start at left */
    100% { background-position: 100% 50%; } /* Transition to right */
  }

  /* Apply the animation and gradient to the text */
  .changing-text {
    animation: gradient-change 10s infinite; /* Change gradient every 5 seconds */
    background: linear-gradient(45deg, #fb0094, #00f, #0f0, 
    #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
  }